<div class="contentWraapper">
<aside class="leftContent pull-left">
  <li><a ui-sref="dashboard.profile">Profile</a></li>
  <li><a ui-sref="dashboard.health">Health</a></li>
  <li><a ui-sref="dashboard.activity">Activity</a></li>
  <li><a ui-sref="dashboard.subscription">Subscription</a></li>
  <li><a ui-sref="dashboard.reports">Reports</a></li>
  <li><a ui-sref="dashboard.expenditure">Expenditure</a></li>
  <li><a ui-sref="dashboard.happening">Happening</a></li>

</aside>
<div class="content" ui-view></div>
<aside class="rightContent pull-right"></aside>
</div>